  /* ================================= */
  /* Side bar */
  /* ================================= */
  .side-bar-container {
    position: sticky;
    top: 35%;
    left: 35%;
    width: 33%;
    height: 100%;
    background: #fff;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: hsl(360, 67%, 44%);
    transition: all 0.3s linear;
    transform: translate(-1000%);
  }
  .show-sidebar {
    transform: translate(0);
  }
  
  .side-bar-close-btn{
    height: auto;
  }
  
  @media screen and (min-width: 676px) {
    .sidebar {
      width: 400px;
    }
  }