
.App{
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

.tidbit {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}

.title {
    font-size: 25px;
}

.colour{
    background-color: dimgray;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
}

#count{
    background-color: dimgray;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    font-size: 30px;
}
